body {
    background: #F9F8FD;
    font-family: 'Lexend Exa', sans-serif;
}

nav {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 40px;
    background-color: #46201b;
}
a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    padding: 10px;

}